<div *ngIf="me" fxLayout="column" fxLayoutGap="1rem">
    <h2 class="breakWord">{{me.email}}</h2>
    <div fxLayout="row" fxLayoutGap="1rem">
        <button mat-stroked-button color="primary" routerLink="/change-email" [disabled]="loading" i18n>Change
            Email</button>
        <button mat-stroked-button color="primary" routerLink="/change-password" [disabled]="loading" i18n>Change
            Password</button>
    </div>
    <mat-expansion-panel (opened)="isCollapsed = false" (closed)="isCollapsed = true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <b>{{isCollapsed ? loginsCollapseText.show : loginsCollapseText.hide}}</b>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="column" fxLayoutGap="1rem">
            <div *ngFor="let login of me?.refreshTokens" fxLayout="column" fxLayoutGap="1rem">
                <mat-divider></mat-divider>
                <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="1rem" fxLayoutAlign="space-between center"
                    fxLayoutAlign.lt-sm="default default">
                    <span i18n class="card-title">{{formatUAString(login.userAgent)}} - {{login.date | date: 'medium' }}
                    </span>
                    <button mat-stroked-button color="warn" (click)="revokeLogin(login.id)" [disabled]="loading" i18n>Revoke
                        Login</button>
                </div>
            </div>
        </div>
    </mat-expansion-panel>
</div>

<p *ngIf="!me">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</p>