<div *ngIf="me">
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{me.email}}</h5>
            <div class="d-grid gap-2 d-md-block">
                <div class="btn-group">
                    <button mat-button color="primary" routerLink="/change-email" [disabled]="loading" i18n>Change
                        Email</button>
                    <button mat-button color="primary" routerLink="/change-password" [disabled]="loading" i18n>Change
                        Password</button>
                </div>
            </div>
        </div>
    </div>
    <mat-expansion-panel (opened)="isCollapsed = false" (closed)="isCollapsed = true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{isCollapsed ? loginsCollapseText.show : loginsCollapseText.hide}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let login of me?.refreshTokens">
            <hr>
            <div class="row justify-content-between align-items-center">
                <div class="col-auto">
                    <h5 i18n class="card-title">{{formatUAString(login.userAgent)}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{login.date | date: 'medium' }}</h6>
                </div>
                <div class="col-auto">
                    <button mat-button color="warn" (click)="revokeLogin(login.id)" [disabled]="loading" i18n>Revoke
                        Login</button>
                </div>
            </div>
        </div>
    </mat-expansion-panel>
</div>

<p *ngIf="!me">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</p>