<div *ngIf="me">
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{me.email}}</h5>
            <div class="btn-group">
                <button type="button" class="btn btn-outline-primary" routerLink="/change-email"
                    [disabled]="loading">Change
                    Email</button>
                <button type="button" class="btn btn-outline-primary" routerLink="/change-password"
                    [disabled]="loading">Change
                    Password</button>
            </div>
        </div>
    </div>
    <ngb-accordion>
        <ngb-panel title="Logged In Devices">
            <ng-template ngbPanelContent>
                <div class="card mb-3" *ngFor="let login of me?.refreshTokens">
                    <div class="card-body">
                        <h5 class="card-title">{{formatUAString(login.userAgent)}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{login.date | date: 'medium' }}</h6>
                        <button type="button" class="btn btn-danger" (click)="revokeLogin(login._id)"
                            [disabled]="loading">Revoke Login</button>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</div>

<p *ngIf="!me">
    <ngb-progressbar type="info" [value]="100" [striped]="true" [animated]="true"></ngb-progressbar>
</p>