<form [formGroup]="registerForm" (ngSubmit)="register($event)">
    <div class="form-group">
        <label for="emailInput" class="form-label" i18n>Email</label>
        <input id="emailInput" formControlName="email" type="email" class="form-control" placeholder="name@example.org"
            required>
        <div class="invalid-feedback" i18n>
            A valid email is required
        </div>
    </div>
    <app-password-form [enforceReqs]="true" [disabled]="registerForm.disabled"></app-password-form>
    <button type="submit" class="btn btn-primary" [disabled]="registerForm.disabled" i18n>Sign Up</button>
</form>