<mat-toolbar color="primary" fxLayout="row" fxLayoutGap="1rem">
    <span>Frontload</span>
    <div fxLayout="row" fxLayoutGap="1rem" *ngIf="isLoggedIn">
        <button mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
            i18n>Home</button>
        <button mat-button routerLink="/account" routerLinkActive="active" i18n>Account</button>
        <button mat-button (click)="logout()" routerLink="/" i18n>Sign Out</button>
    </div>
</mat-toolbar>