<h1>Change Password</h1>
<form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" fxLayout="column" fxLayoutAlign="start">
    <div fxLayout="row">
        <mat-form-field fxFlex.lt-sm="100%">
            <input matInput formControlName="password" placeholder="Current Password" type="password" required>
        </mat-form-field>
    </div>
    <div fxLayout="row">
        <mat-form-field fxFlex.lt-sm="100%">
            <input matInput formControlName="newPassword" placeholder="New Password" type="password" required>
        </mat-form-field>
    </div>
    <div fxLayout="row">
        <mat-form-field fxFlex.lt-sm="100%">
            <input matInput formControlName="newPasswordConfirm" placeholder="Confirm Password" type="password"
                required>
        </mat-form-field>
    </div>
    <div fxLayout="column" fxLayoutGap="1em">
        <div fxLayout="row">
            <mat-checkbox fxFlex.lt-sm="100%" formControlName="revokeRefreshTokens">
                Log out everywhere else
            </mat-checkbox>
        </div>
        <div fxLayout="row">
            <button mat-raised-button type="submit" color="primary"
                [disabled]="loading || !changePasswordForm.valid">Change
                Password</button>
        </div>
    </div>
</form>