<form [formGroup]="changePasswordForm" (ngSubmit)="changePassword($event)" class="needs-validation" novalidate>
    <app-password-form placeHolder="Current Password" [disabled]="loading"></app-password-form>
    <app-password-form placeHolder="New Password" [enforceReqs]="true" controlName="newPassword" [disabled]="loading"></app-password-form>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="revokeAllCheck" formControlName="revokeRefreshTokens" [disabled]="loading">
        <label class="form-check-label" for="revokeAllCheck">Sign out everywhere else</label>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="loading">Change
        Password</button>
</form>