<h2 i18n>Change Password</h2>
<form [formGroup]="changePasswordForm" (ngSubmit)="changePassword($event)" class="needs-validation" novalidate>
    <app-password-form i18n-label label="Current Password" [disabled]="changePasswordForm.disabled"></app-password-form>
    <app-password-form i18n-label label="New Password" [enforceReqs]="true" controlName="newPassword" [disabled]="changePasswordForm.disabled"></app-password-form>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="revokeAllCheck" formControlName="revokeRefreshTokens">
        <label class="form-check-label" for="revokeAllCheck" i18n>Sign out everywhere else</label>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="changePasswordForm.disabled" i18n>Change
        Password</button>
</form>