<h2 i18n>Forgot Password</h2>
<form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" fxLayout="column" fxLayoutGap="1rem">
    <mat-form-field>
        <mat-label i18n>Email</mat-label>
        <input matInput formControlName="email" type="email" placeholder="name@example.org">
    </mat-form-field>
    <app-password-form [disabled]="resetPasswordForm.disabled" [label]="newPasswordLabel"></app-password-form>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="1rem" fxLayoutAlign="center center"
        fxLayoutAlign.lt-sm="default">
        <button mat-stroked-button type="submit" color="primary"
            [disabled]="resetPasswordForm.disabled || !resetPasswordForm.valid" i18n>Reset Password</button>
    </div>
</form>