<form [formGroup]="otpForm" (ngSubmit)="submit($event)" fxLayout="column" fxLayoutGap="1rem">
    <mat-form-field fxLayout="column">
        <mat-label>{{data.message}}</mat-label>
        <input matInput formControlName="code" type="text" [placeholder]="data.name">
    </mat-form-field>
    <div fxLayout="row" fxLayoutGap="1rem">
        <button mat-stroked-button color="warn" (click)="close()" i18n>Cancel</button>
        <button mat-stroked-button ngbAutofocus type="submit" color="primary" i18n>Submit</button>
    </div>
</form>