<div #formElement class="form-group" *ngIf="password">
    <input *ngIf="enforceReqs" [name]="controlName" [formControl]="password" type="password" class="form-control" class="form-control"
        [placeholder]="placeHolder" [disabled]="disabled" aria-describedby="passwordHelp" required minlength="8">
    <small *ngIf="enforceReqs" id="passwordHelp" class="form-text text-muted">Minimum 8 characters</small>
    <input *ngIf="!enforceReqs" [name]="controlName" [formControl]="password" type="password" class="form-control" class="form-control"
        [placeholder]="placeHolder" [disabled]="disabled" required>
    <div class="invalid-feedback">
        <span *ngIf="passwordErrorToShow() === 'required'">Password is required</span>
        <span *ngIf="passwordErrorToShow() === 'minlength'">Password is too short</span>
    </div>
</div>